.custom-combobox {
    position: relative;
    display: inline-block;

  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }

  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
    .custom-combobox {
    position: relative;
    display: inline-block;

  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 2;
    background-color: aliceblue;

  }

  .custom-combobox-input {
    margin: 0;
    padding: 8px 10px;
    width: 300px;
    max-width: 95%;
    border: 1px solid #989595;
  }