div.table-responsive::-webkit-scrollbar,
div.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #CACACA;
    border: 0px none #CACACA;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

.wrap_schedule_control {
    margin: auto;
    margin: 0 auto;
    width: 100%;
}

.wrap_schedule {
    cursor: pointer;
    margin: 0 auto;
    overflow-x: hidden
}

.time_schedule {
    font-size: 14px;
}

.day_schedule {
    font-size: 1px;
}

.time_schedule_text {

     min-height:30px;
}

.day_schedule_text {
    width:100px;
    font-size: 15px;
    padding: 5px 2px;
    min-height: 76px;
}

.day-head-label {
    position: relative;
    right: 5px;
    top: 0;
       width:100px;
}

.time-head-label {
    position: relative;
    left: 10px;
    bottom: 0;
       width:100px;
}

.diagonal-cross {
    border-bottom: 2px solid #dee2e6;
    position: relative;
    top: -17px;
    left: 0;
    transform: translateY(20px) translateX(5px) rotate(20deg);
}

.sc-detail {
    font-size: 16px;
    /*background-color: #85cb8e;*/
   background-color: #518161;
    border: #ffffff 1px solid;
    padding: 3px;
    max-height: 76px;
    min-height: 76px;
    overflow: hidden;
}
.sc-detail a {
     color: #faf8f8;
    font-size: 17px;
    font-weight: 400;
}.sc-detail a:hover {
    color: #db1111;
    font-weight: 500;
}
.sc-detail-std {
    font-size: 16px;
    background-color: #444b8e;      
    border: #f3f3f3 1px solid;
    padding: 2px 2px;
     min-height: 76px;
    max-height: 76px;
    overflow: hidden;
}
.sc-detail-std a {
    color: #faf8f8;
    font-size: 17px;
    font-weight: 400;
      
        margin-top: 5px;
}
.sc-detail-std a:hover {
    color: #f7d9d9;
    font-weight: 500;
}

.wrap_schedule table  {
    width: 1980px;
    margin: 10px auto;
 overflow-y: hidden;

}
