div.table-responsive::-webkit-scrollbar,
div.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #CACACA;
    border: 0px none #CACACA;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

.wrap_schedule_control {
    margin: auto;
    margin: 0 auto;
    width: 100%;
}

.wrap_schedule {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    overflow-x: scroll;
}

.time_schedule {
    font-size: 12px;
}

.day_schedule {
    font-size: 11px;
}

.time_schedule_text {}

.day_schedule_text {
    width: 90px;
    font-size: 12px;
    padding: 5px 5px;
}

.day-head-label {
    position: relative;
    right: 5px;
    top: 0;
    max-width: 80px;
}

.time-head-label {
    position: relative;
    left: 10px;
    bottom: 0;
    max-width: 80px;
}

.diagonal-cross {
    border-bottom: 2px solid #dee2e6;
    position: relative;
    top: -17px;
    left: 2;
    transform: translateY(20px) translateX(5px) rotate(20deg);
}

.sc-detail {
    font-size: 11px;
    background-color: #85cb8e;
    color: #080000;
    border: #ffffff 1px solid;
    padding: 2px;
}
.sc-detail a {
    color: #181818;
    font-size: 11px;
    font-weight: 600;
}.sc-detail a:hover {
    color: #db1111;
    font-size: 11px;
    font-weight: 600;
}


.sc-detail-std {
    font-size: 11px;
    background-color: #ee82ee;
    color: #080000;
    border: #ffffff 1px solid;
    padding: 2px;
}

.sc-detail-std a {
    color: #181818;
    font-size: 11px;
    font-weight: 600;
}.sc-detail-std a:hover {
    color: #db1111;
    font-size: 11px;
    font-weight: 600;
}


