@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
      font-family: "Kanit", sans-serif;
      padding: 0;
      margin: 0;
}
.form-control-2 {
      min-width: 120px;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control3 {
   
      min-width:200px ;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #6e707e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d1d3e2;
      border-radius: .35rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
  
      }
.w-90{
      width: 90%;
      margin: 2px auto;
}
.py-5 {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
  }
  .custom-combobox {
      position: relative;
      display: inline-block;

  }

  .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
  }

  .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
  }

  .custom-combobox {
      position: relative;
      display: inline-block;

  }

  .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 2;
      background-color: aliceblue;

  }

  .custom-combobox-input {
      margin: 0;
      padding: 6px 10px;
      min-width: 300px;
      max-width: 95%;
      border: 1px solid #989595;
  }